<section id="guideline">
  <header class="text-white shadow">
    <div class="bg-black bg-opacity-50 h-100">
      <div
        class="container-lg container-fluid d-flex justify-content-start align-items-center h-100"
      >
        <div>
          <div>
            <h2 class="text-uppercase fs-1">
              Articles <i class="fa-regular fa-paper-plane ms-3"></i>
            </h2>
          </div>
          <div>
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                  <i class="fa-solid fa-house me-1"></i> Home
                </li>
                <li
                  class="breadcrumb-item text-white text-opacity-50"
                  aria-current="page"
                >
                  Articles
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="my-4">
    <div class="container">
      <div class="row g-0">
        <!-- Search -->
        <div class="col-12 shadow w-100 mb-4 bg-secondary p-5">
          <div class="form-floating mb-3">
            <input
              [(ngModel)]="inputSearch"
              type="search"
              class="form-control"
              id="floatingInput"
              placeholder="search articles..."
            />
            <label for="floatingInput">Search Guidelines</label>
          </div>
        </div>
      </div>
      <div>
        <div
          class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xlg-4 min-h-50vh align-items-start"
        >
          <!-- Validate that the array response is back -->
          @if (AllGuidelines) {
          <!-- Handle if the return of the search is empty -->
          @if((AllGuidelines.articles | searchGuideline :inputSearch).length ==
          0) {
          <div
            class="card border-0 bg-light shadow-sm position-relative card__animation"
          >
            <div class="card-title p-3 pb-0 fs-4">
              <p class="fw-semibold">No Guidelines Found</p>
            </div>
          </div>
          } @for (guideline of AllGuidelines.articles | searchGuideline
          :inputSearch | slice:first:next; track $index) {
          <div
            class="card border-0 bg-light shadow-sm position-relative card__animation"
          >
            <div class="card-title p-3 pb-0 fs-4">
              <p class="fw-semibold">{{ guideline.article_title }}</p>
            </div>
            <div class="card-body">
              <p
                class="fw-bold"
                [innerHTML]="guideline.article_text | stringTrim : 150"
              ></p>
              <a
                [routerLink]="['/articles', guideline.id]"
                class="text-main font__titls"
                >read more +</a
              >
            </div>
            <div class="d-flex justify-content-between card-footer">
              <p style="font-size: 12px" class="text-muted fst-italic mb-0">
                created: {{ guideline.created_at | date }}
              </p>
              <p style="font-size: 12px" class="text-muted fst-italic mb-0">
                updated: {{ guideline.updated_at | date }}
              </p>
              <button
                (click)="addBookmark(guideline.id, $event)"
                pTooltip="Add Book Mark"
                tooltipPosition="top"
                [ngClass]="{ 'd-none': guideline.is_end }"
                class="w-45 position-absolute top-0 end-0 m-3 btn text-secondary"
              >
                <i class="fa-regular fa-bookmark fs-4"></i>
              </button>
              <button
                (click)="removeBookmark(guideline.bookmark[0].id, $event)"
                pTooltip="Remove From Mark"
                tooltipPosition="top"
                [ngClass]="{ 'd-none': !guideline.is_end }"
                class="w-45 position-absolute top-0 end-0 m-3 btn text-secondary"
              >
                <i class="fa-solid fa-bookmark fs-4"></i>
              </button>
            </div>
          </div>

          } } @else {
          <div
            class="card border-0 bg-light shadow-sm position-relative card__animation"
          >
            <div class="card-title p-3 pb-0 fs-4">
              <p class="fw-semibold">No Guidelines Found</p>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="flex justify-content-center">
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="AllGuidelines.articles.length"
          [rowsPerPageOptions]="[8, 16, 32]"
        />
      </div>
    </div>
  </div>
</section>
