<div class="position-relative">
  <img
    class="object-fit-cover"
    src="./assets/from3.jpg"
    width="75%"
    alt="contact us form"
  />
  <div
    class="bg-contact-F4F6F9 text-center p-3 position-absolute end-0 top-10 col-5"
  >
    <div class="p-2">
      <i class="flaticon-medical-doctor lh-0 fs-50 text-main"></i>
      <p class="my-1 h4 fw-bold title__fonts__normal">visit our clinic</p>
      <p class="mb-0 fs-6 text-paragraph-color">
        The Queen's Walk, Bishop's, London SE1 7PB, UK
      </p>
    </div>
  </div>
  <div
    class="bg-contact-F4F6F9 text-center p-3 position-absolute end-0 bottom-10 col-5"
  >
    <div class="p-2">
      <i class="flaticon-medical-doctor lh-0 fs-50 text-main"></i>
      <p class="my-1 h4 fw-bold title__fonts__normal">visit our clinic</p>
      <p class="mb-0 fs-6 text-paragraph-color">
        The Queen's Walk, Bishop's, London SE1 7PB, UK
      </p>
    </div>
  </div>
</div>
