<div class="text-center text-capitalize">
  <p class="mb-0 h4">please enter the (OTP) to verify your account</p>
  <p class="text-dark text-opacity-75 mb-0">
    A One-Time Password has been sent to
    <span class="fw-bold">{{ userEmail }}</span>
  </p>
  <form
    [formGroup]="userPasswordForm"
    (ngSubmit)="onSubmitUpdateUserPassword()"
    class="p-3"
  >
    <!-- OTP -->
    <div class="mb-5 mt-4 col-md-8 mx-auto">
      <ngx-otp-input
        (otpChange)="onOtpChange($event)"
        [options]="otpOptions"
      ></ngx-otp-input>
      @if (otpValue.length !== 6 && startValidation ) {
      <div class="col-12">
        <small class="fst-italic fw-bold text-danger">otp required*</small>
      </div>
      } @if (isValidOtp && startValidation ) {
      <div class="col-12">
        <small class="fst-italic fw-bold text-danger"
          >"Incorrect OTP. Please try again."*</small
        >
      </div>
      }
    </div>
    <!-- Password -->
    <h3 class="mb-4">Please Enter Your New Password</h3>
    <div class="row g-3">
      <!-- input field: userPassword  -->
      <div class="col-md-8 mx-auto">
        <div>
          <p-password
            class="form-control p-0"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
          />
        </div>
      </div>
      <!-- input field: userRePassword  -->
      <div class="col-md-8 mx-auto">
        <div>
          <p-password
            class="form-control p-0"
            formControlName="rePassword"
            [feedback]="false"
            [toggleMask]="true"
          />
        </div>
      </div>
      @if (password?.getError("required") && startValidation ||
      rePassword?.getError("required") && startValidation ) {
      <div class="col-12">
        <small class="fst-italic fw-bold text-danger"
          >password and rePassword required*</small
        >
      </div>
      } @if (password?.getError("minlength") && startValidation ||
      rePassword?.getError("minlength") && startValidation ) {
      <div class="col-12">
        <small class="fst-italic fw-bold text-danger"
          >password minlength (8) characters*</small
        >
      </div>
      } @if (userPasswordForm.errors?.['passwordMismatch'] && startValidation )
      {
      <div class="col-12">
        <small class="fst-italic fw-bold text-danger"
          >password and rePassword must be same*</small
        >
      </div>
      }
      <div class="mb-2">
        <button class="btn btn-secondary px-5 py-3">Change Password</button>
      </div>
    </div>
  </form>
  <div class="d-flex justify-content-between">
    <button class="btn">Resend One-Time Password</button>
    <button routerLink="/login/reset" class="btn">Enter a wrong email?</button>
  </div>
</div>
