@import "variables";
::ng-deep .iti {
  width: 100%;
}

#CONTACT__US {
  header {
    height: 50vh;
    background-image: url("../../../../assets/rev/61.jpg");
    background-position: top center;
    background-size: cover;
    transform: translateY(10px);
    opacity: 0;
    animation: Welcome__Animation 1s forwards;
    h2 {
      transform: translateX(-3000px);
      opacity: 0;
      animation: Welcome__Content__Animation 1s forwards;
    }
    nav {
      transform: translateX(-3000px);
      opacity: 0;
      animation: Welcome__Content__Animation 1s 0.3s forwards;
    }
  }
}
@keyframes Welcome__Animation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Welcome__Content__Animation {
  from {
    transform: translateX(-3000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

.contact__Icon {
  width: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 35px;
  color: white;
  display: inline-block;
  border-radius: 3px;
  height: 80px;
  background: $main-color-green;
}
