<section id="CONTACT__US" class="mb-5 pb-5 overflow-hidden">
  <header class="text-white shadow">
    <div
      class="container-lg container-fluid d-flex justify-content-start align-items-center h-100"
    >
      <div>
        <div>
          <h2 class="text-uppercase fs-1">
            Contact Us <i class="fa-regular fa-paper-plane ms-3"></i>
          </h2>
        </div>
        <div>
          <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">
                <i class="fa-solid fa-house me-1"></i> Home
              </li>
              <li
                class="breadcrumb-item text-white text-opacity-50"
                aria-current="page"
              >
                About
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container-lg container-fluid my-5 py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div data-aos="zoom-out-right">
        <div
          class="rounded-1 h-100 bg-secondary-light p-5 text-center text-white"
        >
          <i
            class="fa-solid bg-third w-85 mx-auto fa-location-dot fs-55 rounded-1"
          ></i>
          <h5 class="my-3 h1">Our Location</h5>
          <p class="text-white text-opacity-50">
            The Queen's Walk, Bishop's, London SE1 7PB, United Kingdom.
          </p>
        </div>
      </div>
      <div data-aos="zoom-out-right">
        <div class="rounded-1 h-100 bg-secondary p-5 text-center text-white">
          <i
            class="fa-solid fa-phone bg-third w-85 mx-auto fs-55 rounded-1"
          ></i>
          <h5 class="my-3 h1">Our Contact</h5>
          <p class="text-white text-opacity-50">+ (567) 1234-567-8900</p>
          <p class="text-white text-opacity-50">+ (567) 1234-567-8901</p>
        </div>
      </div>
      <div data-aos="zoom-out-right">
        <div
          class="rounded-1 h-100 bg-secondary-light p-5 text-center text-white"
        >
          <i
            class="fa-solid fa-envelope bg-third w-85 mx-auto fs-55 rounded-1"
          ></i>

          <h5 class="my-3 h1">Mail Us</h5>
          <p class="text-white text-opacity-50">
            info&commat;peacefulthemes.com
          </p>
          <p class="text-white text-opacity-50">
            info&commat;peacefulthemes.com
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    data-aos="fade-up"
    class="container-lg container-fluid mt-5 shadow p-3 p-lg-5 rounded-1s form__container"
  >
    <app-contact-us-form />
  </div>
</section>
