<section id="CONTACT__US" class="mb-5 pb-5 overflow-hidden">
  <header class="text-white shadow">
    <div
      class="container-lg container-fluid d-flex justify-content-start align-items-center h-100"
    >
      <div>
        <div>
          <h2 class="text-uppercase fs-1">
            Contact Us <i class="fa-regular fa-paper-plane ms-3"></i>
          </h2>
        </div>
        <div>
          <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">
                <i class="fa-solid fa-house me-1"></i> Home
              </li>
              <li
                class="breadcrumb-item text-white text-opacity-50"
                aria-current="page"
              >
                Contact Us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container-lg container-fluid my-5 py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div data-aos="zoom-out-right">
        <div
          class="h-100 shadow-sm bg-contact-F4F6F9 p-5 text-center text-white"
        >
          <i class="fa-solid bg-main mx-auto fa-location-dot contact__Icon"></i>
          <h5 class="text-dark h4 mt-4 fw-bold">Our Location</h5>
          <p class="text-paragraph-color text-opacity-50">
            The Queen's Walk, Bishop's, London SE1 7PB, United Kingdom.
          </p>
        </div>
      </div>
      <div data-aos="zoom-out-right">
        <div
          class="h-100 shadow-sm bg-contact-F4F6F9 p-5 text-center text-white"
        >
          <i class="fa-solid bg-main fa-phone mx-auto contact__Icon"></i>
          <h5 class="text-dark h4 mt-4 fw-bold">Our Contact</h5>
          <p class="text-paragraph-color mb-1">+ (567) 1234-567-8900</p>
          <p class="text-paragraph-color mb-1">+ (567) 1234-567-8901</p>
        </div>
      </div>
      <div data-aos="zoom-out-right">
        <div
          class="h-100 shadow-sm bg-contact-F4F6F9 p-5 text-center text-white"
        >
          <i class="fa-solid fa-envelope bg-main mx-auto contact__Icon"></i>

          <h5 class="text-dark h4 mt-4 fw-bold">Mail Us</h5>
          <p class="text-paragraph-color mb-1">
            info&commat;peacefulthemes.com
          </p>
          <p class="text-paragraph-color mb-1">
            info&commat;peacefulthemes.com
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    data-aos="fade-up"
    class="container-lg container-fluid mt-5 shadow form__container"
  >
    <div class="row">
      <div class="col-6 ps-0">
        <app-contact-us-form-ui></app-contact-us-form-ui>
      </div>
      <div class="col-6 p-3 p-lg-5">
        <div>
          <app-contact-us-form />
        </div>
      </div>
    </div>
  </div>
</section>
