<section class="py-5 ABOUT__US position-relative shadow-sm">
  <div class="container-lg container-fluid my-lg-5">
    <div class="row g-4 align-items-center">
      <div class="col-md-6">
        <div data-aos="fade-right"></div>
      </div>
      <div class="col-md-6">
        <div data-aos="fade-right">
          <div class="shadow-lg">
            <img
              src="./assets/1.jpg"
              class="w-100 object-fit-cover rounded-2"
              alt="doctor"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
