<form [formGroup]="userForm" (ngSubmit)="onSendOtpClick()" class="p-3">
  <h3 class="mb-4">
    <span class="border-4 border-bottom">Rest password</span>
  </h3>
  <div class="row g-3">
    <!-- input form field: userEmail -->
    <div class="col-12">
      <div>
        <div class="d-flex justify-content-between">
          <label
            class="form-label fw-semibold text-dark text-opacity-75 mb-1"
            for="userEmail"
            >please enter your email address:<span class="text-danger"
              >*</span
            ></label
          >
          <small class="text-danger fst-italic d-none fw-bold">required*</small>
          <small class="text-danger fst-italic d-none fw-bold"
            >not valid email*</small
          >
        </div>
        <input
          (focus)="isValidEmail = false; startValidation = false"
          [ngClass]="{
            'is-invalid':
              ((email?.getError('required') || email?.getError('email')) &&
                startValidation) ||
              isValidEmail
          }"
          class="form-control"
          type="email"
          placeholder="name@example.com"
          name="userEmail"
          id="userEmail"
          autocomplete="email"
          formControlName="email"
        />
        <small class="fst-italic fw-bold text-dark text-opacity-25"
          >you will receive an email to reset your password</small
        >
      </div>
    </div>
    <div class="col-12">
      <div>
        @if (email?.getError("required") && startValidation) {
        <p class="text-danger fst-italic fw-bold">
          <small>email is required*</small>
        </p>
        } @if (email?.getError("email") && startValidation) {
        <p class="text-danger fst-italic fw-bold">
          <small>please enter a valid email*</small>
        </p>
        } @if (isValidEmail) {
        <p class="text-danger fst-italic fw-bold">
          <small>this email doesn't exist*</small>
        </p>
        }
      </div>
      <div class="text-center">
        <button class="btn btn-secondary px-5 py-2">send email</button>
      </div>
    </div>
  </div>
</form>
