@if (allNewsLettersArr) {
<section class="my-5">
  <div class="container-lg container-fluid">
    <header class="text-center mb-4">
      <h2>
        <span class="fs-6 p-2 rounded-1 bg-opacity-25-secondary text-white"
          >Our Newsletter
        </span>
      </h2>
      <h3 class="h1 fw-bold">See Our Latest Newsletter</h3>
    </header>
    <div>
      <div class="accordion" id="accordionExample">
        @for (news of allNewsLettersArr.newsletter | slice: 0:4; track $index) {
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              attr.data-bs-target="#{{ news.id }}"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <img
                class="w-45 object-fit-contain"
                src="./assets/logo.png"
                role="presentation"
              />
              <span class="ms-4">{{ news.newsletter_title }}</span>
            </button>
          </h2>
          <div
            [id]="news.id"
            [ngClass]="{ show: $index === 0 }"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div
              class="accordion-body"
              [innerHTML]="news.newsletter_text | stringTrim"
            ></div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="text-center my-3">
      <button class="btn btn-main px-5 py-3">See All News</button>
    </div>
  </div>
</section>

}
