@if (allNewsLettersArr) {
<section class="my-5">
  <div class="container-lg container-fluid">
    <header class="text-center mb-4">
      <h2>
        <span class="fs-6 p-2 rounded-1 bg-opacity-25-secondary text-white"
          >Our Newsletter
        </span>
      </h2>
      <h3 class="h1 fw-bold">See Our Latest Newsletter</h3>
    </header>
    <div>
      <div>
        <owl-carousel-o [options]="customOptions">
          @for (news of allNewsLettersArr.newsletter ; track $index) {

          <ng-container>
            <ng-template carouselSlide [id]="news.newsletter_title">
              <div
                class="text-dark border-0 card bg-contact-F4F6F9 rounded-1 d-flex flex-column justify-content-between"
              >
                <div>
                  <figure class="position-relative z-0">
                    <img
                      class="card-img-top"
                      src="./assets/blog/1.jpg"
                      role="presentation"
                      [alt]="news.newsletter_title"
                      [title]="news.newsletter_title"
                    />
                    <figcaption class="card-img-overlay d-flex align-items-end">
                      <time>
                        <span
                          class="bg-main px-2 py-1 m-2 rounded-1 text-white title__fonts fw-bold fs-14"
                          >{{ news.created_at | date : "MMMM dd, YYYY" }}</span
                        >
                      </time>
                    </figcaption>
                  </figure>
                  <div class="card-body">
                    <p class="border-bottom p-3 fw-bold h6">
                      {{ news.newsletter_title | stringTrim : 30 }}
                    </p>
                    <p [innerHTML]="news.newsletter_text | stringTrim"></p>
                  </div>
                </div>
                <div class="text-start my-3 p-3">
                  <a
                    class="text-main text-decoration-none position-relative z-3"
                    [routerLink]="[RoutingSrc, news.id]"
                  >
                    <span class="align-middle fw-semibold">READ MRE</span>
                    <i class="fa-solid fa-plus ms-2 align-middle"></i>
                  </a>
                </div>
              </div>
            </ng-template>
          </ng-container>

          }
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

}
