// body::-webkit-scrollbar-thumb,
// html::-webkit-scrollbar-thumb {
//   background-color: #000;
//   box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
//   border-radius: 100vh;
// }

// body::-webkit-scrollbar,
// html::-webkit-scrollbar {
//   width: 10px;
//   background-color: black;
//   border-left: 2px solid #eee;
//   box-shadow: 0px 0px 21px 0px #0003 inset;
// }

::selection {
  text-shadow: none;
  background: $main-color-green;
  color: #fff;
}

.ngx-spinner-overlay[_ngcontent-ng-c2720958613]
  > div[_ngcontent-ng-c2720958613]:not(.loading-text) {
  top: calc(50% + 200px) !important;
}

.search__Inputs {
  margin-top: -100px;
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
}

main.protocol {
  padding-top: 80px !important;
}
@media screen and (max-width: 992px) {
  main.protocol {
    padding-top: 100px !important;
  }
}
main {
  padding-top: 80px !important;
}
@media screen and (max-width: 992px) {
  main {
    padding-top: 100px !important;
  }
}

/** NavBar */
/** Control Navbar active Links */
@media screen and (min-width: 992px) {
  .nav-link {
    color: #18100f;
    &.active {
      color: $main-color-green !important;
    }
    &:hover {
      color: $main-color-green !important;
    }
  }
}

/** Control NavBar DropDown */
.user__name {
  .user__name__dropdown {
    display: none;
  }
  min-width: 210px;
  a {
    transition: 0s all;
  }
  li:hover {
    background-color: $main-color-green;
    a.nav-link {
      color: white !important;
      transition: 0s all;
    }
  }
  &:hover .user__name__dropdown {
    display: block;
  }
}

/* Control Navbar Collapse and Responsive and dropDown */
@media screen and (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    background-color: white;
    li:hover {
      background-color: $secondary-color-blue;
      a.nav-link {
        color: white !important;
      }
    }
    a {
      color: black;
    }
  }
  .nav-link.title__fonts {
    color: #18100f !important;
  }
  .user__name {
    &:hover {
      background-color: $secondary-color-blue !important;
      .nav-link {
        color: white !important;
      }
    }
    .user__name__dropdown {
      margin-left: 30px;
      ul {
        a.nav-link {
          color: black !important;
        }
        li:hover {
          background-color: $secondary-color-blue;
          a.nav-link {
            color: white !important;
          }
        }
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

.card__animation *::selection {
  background-color: transparent;
}
.card__animation {
  overflow-x: auto;
  cursor: pointer;
  transition: all 0.3s;
  img {
    transition: all 0.3s;
  }
  &:hover {
    box-shadow: 0px 0px 3px $secondary-color-blue inset;
    z-index: 1;
    background-color: white !important;
    img {
      transform: scale(1.1);
    }
    p {
      text-decoration: underline;
    }
  }
}
.card__animation {
  transform: translateY(10px);
  opacity: 0;
  animation: Card__Animation 0.5s forwards;
}
@keyframes Card__Animation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.p-dropdown-items.ng-star-inserted {
  margin: 2px 0;
  padding: 0.5rem 0.75rem;
  border: 0 none;
  color: #334155;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s, outline-color 0.2s;
  border-radius: 4px;
}
.p-dropdown-panel {
  background: #ffffff;
  color: #334155;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
