@import "variables";

// Buttons
.btn-main {
  background-color: $main-color-green;
  color: white;
  outline: none !important;
  transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.btn-secondary {
  background-color: $secondary-color-blue;
  color: #fff;
}

.btn-third {
  background-color: $third-color;
  color: #fff;
}

.btn-main:hover {
  background-color: $secondary-color-blue;
  color: #fff;
}

.btn-secondary:hover {
  background-color: $secondary-color-blue;
  color: #fff;
}

.btn-third:hover {
  background-color: $secondary-color-blue;
  color: #fff;
}

.btn-main:active {
  background-color: $main-opacity-75-color;
  color: #fff;
}

.btn-secondary:active {
  background-color: $secondary-opacity-75-color;
  color: #fff;
}

.btn-third:active {
  background-color: $third-opacity-75-color;
  color: #fff;
}

.carousel__Buttons::after {
  content: "";
  position: absolute;
  background-color: $main-color-green;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s all;
}

.carousel__Buttons:hover::after {
  width: 100%;
}

a:focus,
a:hover {
  color: $main-color-green;
  outline: none;
  text-decoration: none !important;
}

input,
textarea,
input.form-control {
  background: $inputs-background !important;
  border: 1px solid $inputs-background;
  color: #18100f;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  outline: none;
  border-radius: 3px !important;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
.form-control:focus {
  border-color: $main-color-green;
  outline: none;
  box-shadow: none;
}
