@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

$body-fonts: "Montserrat", sans-serif;
$title-fonts: "Quicksand", sans-serif;

body {
  font-family: $body-fonts;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  overflow-x: hidden;
}

.title__fonts {
  font-family: $title-fonts;
  letter-spacing: 0.04em;
}
.title__fonts__normal {
  font-family: $title-fonts;
}
