@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&amp;family=Quicksand:wght@300;400;500;600;700&amp;display=swap");

$body-fonts: "Montserrat", sans-serif;
$title-fonts: "Quicksand", sans-serif;

body {
  font-family: var($body-fonts);
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  overflow-x: hidden;
}
