/* colors */
$main-color-green: #2490eb;
$main-color-green-dark: #146569;
$secondary-color-blue: #14457b;
$secondary-color-light: #025fc9;
$third-color: rgba(255, 255, 255, 0.1);
$inputs-background: #f4f6f9;

/* colors opacity 25% */
$main-opacity-25-color: rgba(38, 202, 211, 25);
$secondary-opacity-25-color: rgba(0, 40, 86, 0.25);
$third-opacity-25-color: rgba(255, 255, 255, 0.25);

/* colors opacity 50% */
$main-opacity-50-color: rgba(38, 202, 211, 50);
$secondary-opacity-50-color: rgba(0, 40, 86, 0.5);
$third-opacity-50-color: rgba(255, 255, 255, 0.5);

/* colors opacity 75% */
$main-opacity-75-color: rgba(38, 202, 211, 75);
$secondary-opacity-75-color: rgba(0, 40, 86, 0.75);
$third-opacity-75-color: rgba(255, 255, 255, 0.755);
