@if (aboutUsData) {
<section id="about">
  <header class="text-white shadow">
    <div class="bg-black bg-opacity-50 h-100">
      <div
        class="container-lg container-fluid d-flex justify-content-start align-items-center h-100"
      >
        <div>
          <div>
            <h2 class="text-uppercase fs-1">
              About <i class="fa-regular fa-paper-plane ms-3"></i>
            </h2>
          </div>
          <div>
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                  <i class="fa-solid fa-house me-1"></i> Home
                </li>
                <li
                  class="breadcrumb-item text-white text-opacity-50"
                  aria-current="page"
                >
                  about
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid container-lg shadow my-5">
    <div class="row g-3 g-lg-0">
      <div class="col-md-4">
        <div class="p-md-4">
          <img
            class="w-100 rounded-2"
            [src]="about_image_base_url + aboutUsData.about.about_image"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-8">
        <div class="p-md-4">
          <h2>
            <span class="fs-6 p-2 rounded-1 bg-opacity-25-secondary text-white"
              >WHAT ABOUT US
            </span>
          </h2>
          <h3
            [innerHTML]="aboutUsData.about.about_title"
            class="h1 fw-bold my-3"
          ></h3>
          <p
            [innerHTML]="aboutUsData.about.about_text"
            class="text-dark text-opacity-75"
          ></p>
        </div>
      </div>
    </div>
    <div class="row g-3 g-lg-0">
      <div class="col-md-8">
        <div class="p-md-4">
          <h2>
            <span class="fs-6 p-2 rounded-1 bg-opacity-25-secondary text-white"
              >WHAT ABOUT US
            </span>
          </h2>
          <h3
            [innerHTML]="aboutUsData.about.second_title"
            class="h1 fw-bold my-3"
          ></h3>
          <p
            [innerHTML]="aboutUsData.about.second_text"
            class="text-dark text-opacity-75"
          ></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-md-4">
          <img
            class="w-100 rounded-2"
            [src]="about_image_base_url + aboutUsData.about.second_image"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

}
