<section class="py-5 px-4">
  <div class="container-fluid container-lg">
    <div class="row row-cols-md-2 row-cols-lg-3 g-3 justify-content-center">
      <div data-aos="flip-right">
        <div
          class="Details__Card bg-secondary-light text-white rounded-2 p-4 h-100"
        >
          <div class="d-flex justify-content-between">
            <div class="pt-2">
              <i class="flaticon-medical-doctor display-1"></i>
            </div>
            <div class="card__icon">
              <i class="flaticon-medical-doctor display-1 opacity-25"></i>
            </div>
          </div>
          <h2 class="fw-bold">Neurology</h2>
          <p class="text-white my-4">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration...
          </p>
          <ul class="list-unstyled">
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
          </ul>
        </div>
      </div>
      <div data-aos="flip-right" data-aos-delay="150">
        <div class="Details__Card bg-secondary text-white rounded-2 p-4 h-100">
          <div class="d-flex justify-content-between">
            <div class="pt-2">
              <i class="flaticon-doctor display-1"></i>
            </div>
            <div class="card__icon">
              <i class="flaticon-doctor display-1 opacity-25"></i>
            </div>
          </div>
          <h2 class="fw-bold">Endocrinology</h2>
          <p class="text-white my-4">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration...
          </p>
          <ul class="list-unstyled">
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
          </ul>
        </div>
      </div>
      <div data-aos="flip-right" data-aos-delay="300">
        <div
          class="Details__Card bg-secondary-light text-white rounded-2 p-4 h-100"
        >
          <div class="d-flex justify-content-between">
            <div class="pt-2">
              <i class="flaticon-heartbeat display-1"></i>
            </div>
            <div class="card__icon">
              <i class="flaticon-heartbeat display-1 opacity-25"></i>
            </div>
          </div>
          <h2 class="fw-bold">Neurology</h2>
          <p class="text-white my-4">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration...
          </p>
          <ul class="list-unstyled">
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
            <li>
              <i class="text-white me-2 fa-solid fa-check"></i>
              <span>Lorem ipsum dolor sit amet</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
