@if (aboutUsData) {
<section class="py-5 bg-light pb-5">
  <div class="container mb-5">
    <div class="row g-3 g-lg-0">
      <div class="col-md-4" data-aos="fade-up">
        <div class="p-md-4 col-10 mx-auto col-md-12">
          <img
            class="w-100 rounded-2"
            [src]="about_image_base_url + aboutUsData.about.about_image"
            alt=""
          />
        </div>
      </div>
      <div class="col-md-8" data-aos="fade-up">
        <div
          class="p-md-4 trimmed-div overflow-y-scroll"
          style="max-height: 500px"
        >
          <h2>
            <span class="fs-6 p-2 rounded-1 bg-opacity-25-secondary text-white"
              >WHAT ABOUT US
            </span>
          </h2>
          <h3
            [innerHTML]="aboutUsData.about.about_title"
            class="h1 fw-bold my-3"
          ></h3>
          <p
            [innerHTML]="aboutUsData.about.second_text"
            class="text-dark text-opacity-75"
          ></p>
        </div>
        <div class="text-start">
          <div class="mt-4">
            <app-readmore-btn [routing]="'/about'" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}
