@if (carouselImagesArr) {
<section class="min-h-100vh position-relative">
  <div class="container h-100 overflow-hidden">
    <div
      data-bs-ride="carousel"
      id="carousel__HeroSection"
      data-bs-touch="false"
      class="h-100 w-100 carousel slide position-absolute top-0 start-0 z-1"
    >
      <div class="carousel-inner h-100 w-100">
        @for (image of carouselImagesArr; track $index) {
        <div
          class="carousel-item h-100 w-100 position-relative z-1"
          [ngClass]="{ active: image.isActive }"
        >
          <img
            [src]="image.url"
            class="z-n1 position-absolute w-100 w-100 h-100 object-fit-cover"
            [alt]="image.alt"
          />
          <div class="container h-100">
            <div
              class="d-flex text-center justify-content-center align-items-center w-100 h-100"
            >
              <div class="col-md-8 carousel__content px-3 py-4 rounded-2">
                <p>
                  <span
                    class="px-4 py-2 rounded-1 bg-opacity-25-secondary text-white"
                  >
                    PASSION FOR CARING</span
                  >
                </p>
                <h2 class="display-3 fw-bold text-white">
                  Genuine Commitment To Your Health
                </h2>
                <p class="text-white texxt-opacity-75">
                  It is a long established fact that a reader will be distracted
                  b the readable content of page when looking at its layout.
                </p>
                <div class="d-flex justify-content-center gap-2">
                  <button
                    routerLink="/protocols"
                    class="btn btn-main main__buttons px-4 py-3 rounded-1"
                  >
                    <span class="align-middle">PROTOCOLS</span>
                    <i class="fa-solid fa-plus ms-2 fs-4 align-middle"></i>
                  </button>
                  <button
                    class="btn btn-main main__buttons px-4 py-3 rounded-1"
                  >
                    <span class="align-middle">HISTORY</span>
                    <i class="fa-solid fa-plus ms-2 fs-4 align-middle"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      <button
        class="d-none d-lg-block carousel__control carousel-control-prev rounded-1 bg-opacity-25-main"
        type="button"
        data-bs-target="#carousel__HeroSection"
        data-bs-slide="prev"
      >
        <i class="fa-solid fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="d-none d-lg-block carousel__control carousel-control-next rounded-1 bg-opacity-25-main"
        type="button"
        data-bs-target="#carousel__HeroSection"
        data-bs-slide="next"
      >
        <i class="fa-solid fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
}
