<section class="py-5 PROCESS__SECTION text-white">
  <div class="container-lg container-fluid my-5">
    <header class="text-center mb-5">
      <h2 class="mb-4">
        <span class="fs-6 p-2 rounded-1 bg-light text-dark"
          >OUR PROCESS STEP
        </span>
      </h2>
      <h3 class="h1 fw-bold fw-medium fs-1">We Apply our latest research</h3>
    </header>
    <div class="d-flex flex-column flex-lg-row gap-5 justify-content-center">
      <a
        href=""
        class="text-decoration-none text-white h4 d-flex gap-2 justify-content-center align-items-center"
      >
        <span class="w-45"
          ><img class="img-fluid" src="./assets/app-store.svg" alt=""
        /></span>
        Download From Android</a
      >
      <a
        href=""
        class="text-decoration-none text-white h4 d-flex gap-2 justify-content-center align-items-center"
      >
        <span class="w-45"
          ><img class="img-fluid" src="./assets/google-play.svg" alt=""
        /></span>
        Download From Apple</a
      >
    </div>
  </div>
</section>
