<div id="Questions__Container">
  <!-- Handle Display All Questions Descriptions -->
  @for (question of currentQuestionArr; track currentQuestionArr; let i = $index
  ) {
  <div #Questions__Description id="Questions__Description" class="card mb-2">
    <div class="card-body rounded-0">
      <div [innerHTML]="question.description"></div>
      <form>
        @for (Choices of question.choices; track $index) {
        <div id="Questions__Choices">
          <div class="form-check">
            <input
              class="form-check-input"
              [id]="Choices.id"
              type="radio"
              [value]="Choices.next_question_id"
              [name]="Choices.question_id"
              (change)="
                onCheckPreviousQuestionCheck(question);
                onDisplayNextQuestionChange(Choices.next_question_id);
                updateChart(
                  i === 0 ? Choices.id : Choices.question_id,
                  Choices.next_question_id
                )
              "
            />
            <label class="form-check-label" [for]="Choices.id">{{
              Choices.text
            }}</label>
          </div>
        </div>
        }
      </form>
    </div>
  </div>
  }
</div>
