<div class="bg-secondary text-white py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-3 g-3">
      <div>
        <h2>EHA</h2>
        <p>
          It helps designers plan out where the content will sit, the content to
          be written and approved.
        </p>
        <div class="social__icons">
          <ul
            class="mb-0 list-unstyled d-flex gap-2 justify-content-start align-items-center"
          >
            <li>
              <a href=""><i class="fa-fw fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-fw fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href=""><i class="fa-fw fa-brands fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h2>Our Links</h2>
        <ul class="list-unstyled row p-3 footer__routing">
          <li class="col-6">
            <a class="cr-pointer text-white text-decoration-none" routerLink="/"
              ><i class="fa-solid fa-chevron-right me-3"></i> Home</a
            >
          </li>
          <li class="col-6">
            <a
              class="cr-pointer text-white text-decoration-none"
              routerLink="/contact-us"
              ><i class="fa-solid fa-chevron-right me-3"></i> Contact Us</a
            >
          </li>
          <li class="col-6">
            <a
              class="cr-pointer text-white text-decoration-none"
              routerLink="/news-letters"
              ><i class="fa-solid fa-chevron-right me-3"></i> NewsLetter</a
            >
          </li>
          <li class="col-6">
            <a
              class="cr-pointer text-white text-decoration-none"
              routerLink="/about"
              ><i class="fa-solid fa-chevron-right me-3"></i> About Us</a
            >
          </li>
          <li class="col-6">
            <a
              class="cr-pointer text-white text-decoration-none"
              routerLink="/protocols/protocols-categories"
              ><i class="fa-solid fa-chevron-right me-3"></i> Protocols</a
            >
          </li>
          <li class="col-6">
            <a
              class="cr-pointer text-white text-decoration-none"
              routerLink="/privacy-policy"
              ><i class="fa-solid fa-chevron-right me-3"></i> Privacy Policy</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2>Contact Us</h2>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-white" href="tel:+1800001658">
              <i class="fa-solid fa-phone me-3"></i>
              <span>+1 800-001-658</span>
            </a>
          </li>
          <li>
            <a
              class="text-decoration-none text-white"
              href="mailto:info@peacefulthemes.com"
            >
              <i class="fa-solid fa-envelope me-3"></i>
              <span>info&commat;peacefulthemes.com</span>
            </a>
          </li>
          <li class="d-flex">
            <span class="d-inline-block"
              ><i class="fa-solid fa-location-dot me-3"></i
            ></span>
            <span class="d-inline-block"
              >Themeforest, Envato HQ 24 Fifth st., Los Angeles, USA</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p class="Copyright text-center bg-secondary py-3 mb-0">
  <span class="text-white"
    >Copyright 2024
    <a
      class="text-decoration-none text-white"
      href="https://www.facebook.com/DigitalBondMena"
      >Digital Bond</a
    >
    All Rights Reserved</span
  >
</p>
