@import "variables";

.chart-container {
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
  overflow: hidden;
  // border: 1px solid #ccc;
}

::ng-deep .custom-node {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Arial, sans-serif";
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: space-between; /* Ensure that the header, body, and buttons are spaced */
  align-items: center;
  padding: 10px;
  word-wrap: break-word;
  height: auto;
  position: relative; /* Allow absolute positioning inside */
}

::ng-deep .custom-node .node-header {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  fill: #e8f5fc;
  stroke: #409bd2;
  stroke-width: 2px;
  cursor: pointer;
}

::ng-deep .custom-node .node-subtitle {
  font-size: 12px;
  color: #555;
  white-space: normal;
}

::ng-deep .custom-node .node-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto; /* This ensures the buttons stay at the bottom */
}

::ng-deep .custom-node.active {
  border: 2px solid #4caf50;
  background-color: #e8f5e9;
}

::ng-deep .node-button {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

::ng-deep .node-button:hover {
  background-color: #45a049;
}
/* Hide the expand/collapse button */
::ng-deep .orgchart .node .toggle {
  display: none;
}

/* Alternatively, disable pointer events if you don't want to hide the button */
::ng-deep .orgchart .node .toggle {
  pointer-events: none;
  opacity: 0.5; /* Optional: make the button look disabled */
}

::ng-deep ul {
  padding-left: 10px;
}
::ng-deep .highlight-node {
  background-color: yellow; /* Highlight the background */
  border: 2px solid red; /* Border for emphasis */
  transition: all 0.3s ease; /* Smooth transition */
}

::ng-deep .highlight-path {
  stroke: red !important; /* Highlight the path */
  stroke-width: 4px !important; /* Increased stroke width */
  transition: stroke 0.3s ease;
}

// ::ng-deep .nodes-wrapper .node:first-child,
// ::ng-deep .links-wrapper :first-child,
::ng-deep .node-button-g {
  display: none;
}

::ng-deep .form-check-input:checked {
  background-color: $main-color-green !important;
  box-shadow: none;
}
::ng-deep .form-check-input {
  border-radius: 50% !important;
}
