@import "variables";

#PROTOCOLS {
  header {
    height: 50vh;
    background-image: url("../../../../assets/rev/2-7.jpg");
    background-position: top center;
    background-size: cover;
    transform: translateY(10px);
    opacity: 0;
    animation: Welcome__Animation 1s forwards;
    h2 {
      transform: translateX(-3000px);
      opacity: 0;
      animation: Welcome__Content__Animation 1s forwards;
    }
    nav {
      transform: translateX(-3000px);
      opacity: 0;
      animation: Welcome__Content__Animation 1s 0.3s forwards;
    }
  }
}
@keyframes Welcome__Animation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes Welcome__Content__Animation {
  from {
    transform: translateX(-3000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

main {
  padding-top: 155px;
}
@media screen and (max-width: 992px) {
  main {
    padding-top: 120px;
  }
}
.Protocol__Card *::selection {
  background-color: transparent;
}
.Protocol__Card {
  overflow-x: auto;
  cursor: pointer;
  transition: all 0.3s;
  img {
    transition: all 0.3s;
  }
  &:hover {
    box-shadow: 0px 0px 3px $secondary-color-blue inset;
    z-index: 1;
    background-color: white !important;
    img {
      transform: scale(1.1);
    }
    p {
      text-decoration: underline;
    }
  }
}
