<form
  [formGroup]="userPasswordForm"
  (ngSubmit)="onSubmitUpdateUserPassword()"
  class="p-3"
>
  <h3 class="mb-4">
    <span class="border-4 border-bottom">Change Password</span>
  </h3>
  <div class="row g-3">
    <!-- input field: userPassword  -->
    <div class="col-md-12">
      <div>
        <p-password
          (onFocus)="isSuccess = false"
          class="form-control p-0"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
        />
      </div>
    </div>
    <!-- input field: userRePassword  -->
    <div class="col-md-12">
      <div>
        <p-password
          (onFocus)="isSuccess = false"
          class="form-control p-0"
          formControlName="rePassword"
          [feedback]="false"
          [toggleMask]="true"
        />
      </div>
    </div>
    @if (password?.getError("required") && startValidation ||
    rePassword?.getError("required") && startValidation ) {
    <div class="col-12">
      <small class="fst-italic fw-bold text-danger"
        >password and rePassword required*</small
      >
    </div>
    } @if (password?.getError("minlength") && startValidation ||
    rePassword?.getError("minlength") && startValidation ) {
    <div class="col-12">
      <small class="fst-italic fw-bold text-danger"
        >password minlength (8) characters*</small
      >
    </div>
    } @if (userPasswordForm.errors?.['passwordMismatch'] && startValidation ) {
    <div class="col-12">
      <small class="fst-italic fw-bold text-danger"
        >password and rePassword must be same*</small
      >
    </div>
    }
    <!-- submit button  -->
    <small
      [ngClass]="{ 'd-block': isSuccess, 'd-none': !isSuccess }"
      class="text-success fst-italic"
      >Password Changed Successfully</small
    >
    <div
      class="col-md-12 d-flex justify-content-between align-items-center flex-column flex-md-row gap-2"
    >
      <button
        class="btn-main btn px-4 title__fonts fw-bold rounded-1 py-3 px-5 text-uppercase fs-14"
      >
        Change Password
      </button>
      <div>
        <a class="text-decoration-none" routerLink="/settings"
          ><i class="pi-cog pi me-1"></i> account settings</a
        >
      </div>
    </div>
  </div>
</form>
<!-- <div
  class="p-1 mt-2 d-flex justify-content-between align-items-center flex-column flex-md-row gap-2"
>
  <div class="text-danger">
    <small
      ><button class="btn text-danger p-1 m-0">delete account</button></small
    >
  </div>
  <div class="text-danger">
    <small
      ><button class="btn text-danger p-1 m-0">
        deactivate account
      </button></small
    >
  </div>
</div> -->
