<header class="text-white shadow">
  <div class="bg-black bg-opacity-50 h-100">
    <div
      class="container-lg container-fluid d-flex justify-content-start align-items-center h-100"
    >
      <div>
        <div>
          <h2 class="text-uppercase fs-1">
            Protocols <i class="fa-regular fa-paper-plane ms-3"></i>
          </h2>
        </div>
        <div>
          <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-current="page">
                <i class="fa-solid fa-house me-1"></i> Home
              </li>
              <li
                class="breadcrumb-item text-white text-opacity-50"
                aria-current="page"
              >
                Protocols
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="privacy-policy" class="py-5">
  <div class="container-lg container-fluid">
    <img src="./assets/app_logo.png" class="w-85 mx-auto my-4" alt="EHA logo" />
    <h2 class="text-dark h6">Privacy Policy for EHA Guide Mobile App</h2>
    <p>
      <time datetime="2024-12-04">
        <span class="d-block">Effective Date:</span> December 04, 2024
      </time>
    </p>

    <h3 class="fs-6">Introduction:</h3>
    <p>
      This Privacy Policy describes how our team uses and protects your personal
      information when you use our mobile application, EHA Guide. We are
      committed to protecting your privacy and ensuring that your personal
      information is handled responsibly and in accordance with applicable data
      protection laws.
    </p>

    <h3 class="fs-6">Information We Collect:</h3>
    <ul>
      <li>
        <strong>Full name:</strong> We collect your full name for identification
        and personalization purposes.
      </li>
      <li>
        <strong>Email address:</strong> Your email address is used for account
        creation, password recovery, and to send you important information about
        the app and updates.
      </li>
      <li>
        <strong>Password:</strong> We store your password securely to protect
        your account from unauthorized access.
      </li>
      <li>
        <strong>Phone number:</strong> Your phone number is required to contact
        you whenever needed.
      </li>
      <li>
        <strong>Job title:</strong> We use your job title to tailor content and
        recommendations within the app.
      </li>
      <li>
        <strong>Workplace:</strong> We use your workplace to tailor content and
        recommendations as well.
      </li>
    </ul>

    <h3 class="fs-6">How We Use Your Information:</h3>
    <ul>
      <li>
        <strong>To provide and operate EHA:</strong> We use your information to
        create and manage your account, personalize your experience, and provide
        you with access to the app's features and functionality.
      </li>
      <li>
        <strong>To send important information:</strong> We may use your email
        address to send you important information about the app, such as
        updates, security alerts, and support messages.
      </li>
      <li>
        <strong>To improve the app:</strong> We may use your information to
        analyze usage trends, understand user preferences, and improve the
        overall functionality and content of the app.
      </li>
      <li>
        <strong>To personalize your experience:</strong> We may use your job
        title and workplace to tailor content and recommendations within the app
        to make it more relevant to your needs.
      </li>
    </ul>

    <h3 class="fs-6">Sharing Your Information:</h3>
    <p>
      We will not share your personal information with any third-party companies
      or individuals without your consent. However, there may be circumstances
      where we are required to disclose your information, such as:
    </p>
    <ul>
      <li>
        <strong>To comply with the law:</strong> We may disclose your
        information if required by law or in response to a valid legal request.
      </li>
      <li>
        <strong>To protect our rights:</strong> We may disclose your information
        if necessary to protect our rights or the rights of others, such as in
        the case of fraud or abuse.
      </li>
    </ul>

    <h3 class="fs-6">Data Security:</h3>
    <p>
      We take reasonable measures to ensure the security of your personal
      information. We use industry-standard encryption technologies to protect
      your data from unauthorized access, disclosure, alteration, or
      destruction. However, no security measure is perfect, and we cannot
      guarantee the absolute security of your information.
    </p>

    <h3 class="fs-6">Your Choices:</h3>
    <ul>
      <li>
        <strong>Access your information:</strong> You can access and update your
        personal information at any time through your account settings in the
        app.
      </li>
      <li>
        <strong>Delete your information:</strong> You can request to delete your
        account and all of your personal information at any time. To do so,
        please contact us at
        <a href="mailto:bonder@digitalbondmena.com"
          >bonder&commat;digitalbondmena.com</a
        >.
      </li>
      <li>
        <strong>Delete your account:</strong> You can permanently delete or
        deactivate your account at any time from your profile settings.
      </li>
    </ul>

    <h3 class="fs-6">Changes to this Policy:</h3>
    <p>
      We may update this Privacy Policy from time to time. We will notify you of
      any changes by posting the updated Policy on our website or within the
      app. We encourage you to review this Privacy Policy regularly for any
      changes.
    </p>

    <h3 class="fs-6">Contact Us:</h3>
    <p>
      If you have any questions about this Privacy Policy, please contact us at
      <a href="mailto:bonder@digitalbondmena.com"
        >bonder&commat;digitalbondmena.com</a
      >.
    </p>
  </div>
</section>
