<main>
  <section>
    <header class="text-white shadow">
      <div class="bg-black bg-opacity-50 h-100">
        <div
          class="container-lg container-fluid d-flex justify-content-start align-items-center h-100"
        >
          <div>
            <div>
              <h2 class="text-uppercase fs-1">
                Account Setting <i class="fa-regular fa-paper-plane ms-3"></i>
              </h2>
            </div>
            <div>
              <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" aria-current="page">
                    <i class="fa-solid fa-house me-1"></i> Home
                  </li>
                  <li
                    class="breadcrumb-item text-white text-opacity-50"
                    aria-current="page"
                  >
                    Setting
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container-lg container-fluid p-4 p-md-0 py-5 my-5">
      <div class="row shadow my-5 rounded-1">
        <div class="col-12 col-lg-8 p-2 p-md-5">
          <router-outlet></router-outlet>
        </div>
        <div class="col-12 d-none d-lg-block col-lg-4 bg-secondary text-center">
          <div class="h-100 d-flex flex-column justify-content-end">
            <img src="./assets/skill-img.png" class="w-100" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
