<nav
  #navbar
  class="navbar d-block navbar-expand-lg bg-body-tertiary p-0 shadow-lg fixed-top position-absolute"
>
  <div class="navbar position-relative">
    <div class="container py-1">
      <a class="navbar-brand" href="#">
        <img
          width="70px"
          class="d-sm-none"
          src="/assets/app_logo.png"
          alt="الهيئة العامة للرعاية الصحية"
        />
        <img
          width="70px"
          class="d-none d-sm-block d-xl-none"
          src="/assets/logo.png"
          alt="الهيئة العامة للرعاية الصحية"
        />
        <img
          width="100px"
          class="d-none d-xl-block"
          src="/assets/HCAEn.png"
          alt="الهيئة العامة للرعاية الصحية"
        />
      </a>
      <div class="d-flex align-items-center gap-2">
        <div
          class="collapse navbar-collapse px-0 px-lg-3 px-lg-0"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav ms-auto mb-0">
            <li class="nav-item px-2 py-1">
              <a
                (click)="toggleNavBar.click()"
                class="nav-link title__fonts fw-bold fs-14"
                aria-current="page"
                routerLinkActive="active"
                routerLink="/"
                [routerLinkActiveOptions]="{ exact: true }"
                >HOME
              </a>
            </li>
            <li class="nav-item px-2 py-1">
              <a
                (click)="toggleNavBar.click()"
                class="nav-link title__fonts fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/about"
                >ABOUT
              </a>
            </li>
            <li class="nav-item px-2 py-1">
              <a
                (click)="toggleNavBar.click()"
                class="nav-link title__fonts fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/protocols/protocols-categories"
                >PROTOCOLS
              </a>
            </li>
            <li class="nav-item px-2 py-1">
              <a
                (click)="toggleNavBar.click()"
                class="nav-link title__fonts fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/news-letters"
                >NEWSLETTERS
              </a>
            </li>
            <li class="nav-item px-2 py-1">
              <a
                (click)="toggleNavBar.click()"
                class="nav-link title__fonts fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/contact-us"
                >CONTACT US
              </a>
            </li>
            <li class="nav-item px-2 py-1" [ngClass]="{ 'd-none': isLogIn }">
              <a
                (click)="toggleNavBar.click()"
                class="nav-link title__fonts fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/login"
                >LOGIN</a
              >
            </li>
            @if (isLogIn) {
            <li
              class="nav-item position-relative px-2 user__name py-1 d-flex justify-content-start align-items-center"
            >
              <span class="nav-link title__fonts fw-bold fs-14 text-uppercase"
                >{{ userName }}
              </span>
              <p-avatar
                class="ms-2"
                icon="pi pi-user"
                styleClass="mr-2"
                size="normal"
                shape="circle"
              />
              <div
                class="user__name__dropdown position-absolute top-100 start-0 w-100"
              >
                <ul class="list-unstyled bg-body-tertiary p-0">
                  <li class="nav-item w-100 px-1">
                    <a
                      (click)="toggleNavBar.click()"
                      class="text-uppercase nav-link title__fonts fw-bold fs-14 w-100 px-2 py-1 d-flex justify-content-between align-items-center"
                      routerLink="/guidelines"
                      >Articles <i class="fa-solid fa-chevron-right"></i
                    ></a>
                  </li>
                  <li class="nav-item w-100 px-1">
                    <a
                      (click)="toggleNavBar.click()"
                      class="text-uppercase nav-link title__fonts fw-bold fs-14 w-100 px-2 py-1 d-flex justify-content-between align-items-center"
                      routerLink="/protocols/bookmark"
                      >BookMarks <i class="fa-solid fa-chevron-right"></i
                    ></a>
                  </li>
                  <li class="nav-item w-100 px-1">
                    <a
                      (click)="toggleNavBar.click()"
                      class="text-uppercase nav-link title__fonts fw-bold fs-14 w-100 px-2 py-1 d-flex justify-content-between align-items-center"
                      routerLink="/protocols/history"
                      ><span><i class="pi pi-history me-1"></i> History</span>
                      <i class="fa-solid fa-chevron-right"></i
                    ></a>
                  </li>
                  <li class="nav-item w-100 px-1">
                    <a
                      (click)="toggleNavBar.click()"
                      class="text-uppercase nav-link title__fonts fw-bold fs-14 w-100 px-2 py-1 d-flex justify-content-between align-items-center"
                      routerLink="/settings"
                      ><span><i class="pi-cog pi me-1"></i> Settings</span>
                      <i class="fa-solid fa-chevron-right"></i
                    ></a>
                  </li>
                  <li
                    [ngClass]="{ 'd-none': !isLogIn }"
                    class="nav-item w-100 px-1"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                  >
                    <a
                      (click)="logOut(); toggleNavBar.click()"
                      class="nav-link title__fonts fw-bold fs-14 w-100 px-2 py-1"
                      routerLink="/login"
                      ><i class="pi pi-sign-out me-1"></i> LOGOUT</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            }
          </ul>
        </div>
        <button
          #toggleNavBar
          class="navbar-toggler btn-secondary p-2 rounded-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars fs-1"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
