@import "variables";

.navbar__banner {
  ul {
    // box model

    border-right: 1px solid rgba(255, 255, 255, 0.1);
    li {
      // box model
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      a {
        // box model
        display: block;
        padding-inline: 15px;
        padding-block: 10px;
        // color
        color: white;
        text-decoration: none;
        // other
        transition: all 0.5s;
        &:hover {
          background-color: $third-opacity-75-color;
        }
      }
    }
  }
}

.navbar.active {
  position: fixed !important;
  animation: NavBar__Animation 0.5s forwards;
}

@keyframes NavBar__Animation {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
