<nav
  #navbar
  class="navbar d-block navbar-expand-lg bg-body-tertiary p-0 shadow-lg fixed-top position-absolute"
>
  <div class="navbar">
    <div class="container position-relative py-2">
      <a class="navbar-brand" href="#">
        <img
          width="70px"
          class="d-sm-none"
          src="./assets/app_logo.png"
          alt="الهيئة العامة للرعاية الصحية"
        />
        <img
          width="70px"
          class="d-none d-sm-block d-xl-none"
          src="./assets/logo.png"
          alt="الهيئة العامة للرعاية الصحية"
        />
        <img
          width="170px"
          class="d-none d-xl-block"
          src="./assets/HCAEn.png"
          alt="الهيئة العامة للرعاية الصحية"
        />
      </a>
      <div class="d-flex align-items-center gap-2">
        <div class="collapse navbar-collapse px-3 px-lg-0" id="navbarProtocols">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li
              class="nav-item"
              data-bs-toggle="collapse"
              data-bs-target="#navbarProtocols"
            >
              <a
                class="nav-link fw-bold fs-14"
                aria-current="page"
                routerLinkActive="active"
                routerLink="/"
                [routerLinkActiveOptions]="{ exact: true }"
                >HOME
              </a>
            </li>
            <li
              class="nav-item"
              data-bs-toggle="collapse"
              data-bs-target="#navbarProtocols"
            >
              <a
                class="nav-link fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/about"
                >ABOUT
              </a>
            </li>
            <li
              class="nav-item"
              data-bs-toggle="collapse"
              data-bs-target="#navbarProtocols"
            >
              <a
                class="nav-link fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/protocols/protocols-categories"
                >PROTOCOLS
              </a>
            </li>
            <li
              class="nav-item"
              data-bs-toggle="collapse"
              data-bs-target="#navbarProtocols"
            >
              <a
                class="nav-link fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/news-letters"
                >NEWSLETTERS
              </a>
            </li>
            <li
              class="nav-item"
              data-bs-toggle="collapse"
              data-bs-target="#navbarProtocols"
            >
              <a
                class="nav-link fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/contact-us"
                >CONTACT US
              </a>
            </li>
            <li
              class="nav-item"
              data-bs-toggle="collapse"
              data-bs-target="#navbarProtocols"
            >
              <a
                class="nav-link fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/privacy-policy"
                >PRIVACY POLICY
              </a>
            </li>
            <li
              class="nav-item"
              data-bs-toggle="collapse"
              data-bs-target="#navbarProtocols"
            >
              <a
                class="nav-link fw-bold fs-14"
                routerLinkActive="active"
                routerLink="/login"
                >LOGIN</a
              >
            </li>
          </ul>
        </div>
        <button
          class="navbar-toggler btn-secondary p-2 rounded-1"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarProtocols"
          aria-controls="navbarProtocols"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fa-solid fa-bars fs-1"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
