::ng-deep body {
  overflow-y: hidden;
}
:host {
  height: calc(100% - 56px);
  overflow-y: auto;
}
.lastUpdated__text,
.lastUpdated__text i {
  text-align: right;
  font-size: 14px;
  color: #757575;
  line-height: 24px;
  margin-bottom: 1rem;
}
.card-body {
  background-color: #e8f5fc;
  border: 2px solid #409bd2;
  padding: 16px;
  position: relative;
}
// :host::-webkit-scrollbar-thumb {
//   background-color: #000;
//   box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
//   border-radius: 100vh;
// }

// :host::-webkit-scrollbar {
//   width: 6px;
//   background-color: #fff;
//   border-left: 2px solid #eee;
//   box-shadow: 0px 0px 21px 0px #0003 inset;
// }
.card {
  animation: Animation__Card 1s forwards;
}

@keyframes Animation__Card {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
