<section id="news-letters">
  <header class="text-white shadow">
    <div class="bg-black bg-opacity-50 h-100">
      <div
        class="container-lg container-fluid d-flex justify-content-start align-items-center h-100"
      >
        <div>
          <div>
            <h2 class="text-uppercase fs-1">
              Protocols <i class="fa-regular fa-paper-plane ms-3"></i>
            </h2>
          </div>
          <div>
            <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                  <i class="fa-solid fa-house me-1"></i> Home
                </li>
                <li
                  class="breadcrumb-item text-white text-opacity-50"
                  aria-current="page"
                >
                  Protocols
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    <app-news-latest-banner />
  </div>
</section>
